@model ShoppingMenegment.Models.Entity.Customer

@{
    ViewData["Title"] = "Create";
}
<style>
    label, h1, hr {
        color: #FF7636;
    }
</style>
<h1 class="text-center display-3">Create Customer</h1>
<hr />

<div class="mx-auto d-block">
    <form class="mx-auto" method="post" asp-action="Create">
        <div class="row">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col">
                <label asp-for="Name" for="Name" class="control-label ">Name</label>
                <input asp-for="Name" class="form-control" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="Surname" class="control-label">Surname</label>
                <input asp-for="Surname" class="form-control" placeholder="Surname" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <select asp-for="Gender" class="form-select mt-4" aria-label="Gender" style="width:140px; height:40px">
                <option selected>Gender</option>
                <option value="Kişi">Kişi</option>
                <option value="Qadın">Qadın</option>
            </select>
            <div class="form-group col">
                <label asp-for="Address" class="control-label">Address</label>
                <input asp-for="Address" class="form-control" placeholder="Address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="Description" class="control-label">Description</label>
                <input asp-for="Description" class="form-control" placeholder="Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group mt-4 text-center">
            <input type="submit" value="Create" class="btn btn-outline-success btn-lg" />
        </div>
    </form>
</div>

<div>
    <a class="btn btn-outline-info btn-lg text-decoration-none  float-end" asp-action="Index">Back to List</a>
</div>