@model ShoppingMenegment.Models.Entity.Product

@{
    ViewData["Title"] = "Create";
}
<style>
    label, h1, hr {
        color: #FF7636;
    }
</style>
<h1 class="text-center display-3">Create Product</h1>
<hr />

<div class="mx-auto d-block">
    <form enctype="multipart/form-data" class="mx-auto" method="post" asp-action="Create">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group col">
                <label asp-for="Model" class="control-label ">Model</label>
                <input asp-for="Model" class="form-control" placeholder="Model">
            </div>
            <div class="form-group col">
                <label asp-for="Brand" class="control-label ">Brand</label>
                <input asp-for="Brand" class="form-control" placeholder="Brand">
            </div>
            <div class="form-group col">
                <label asp-for="Name" class="control-label ">Name</label>
                <input asp-for="Name" class="form-control" placeholder="Name">
            </div>
            <div class="form-group col">
                <label asp-for="Description" class="control-label ">Description</label>
                <input asp-for="Description" class="form-control" placeholder="Description">
            </div>
            <div class="form-group col">
                <label asp-for="UnitPrice" class="control-label ">Unit Price</label>
                <input asp-for="UnitPrice" class="form-control" placeholder="Unit Price">
            </div>
            <div class="form-group col">
                <label asp-for="ProductCategoryId" class="control-label">Product Category</label>
                <select asp-for="ProductCategoryId" class="form-control" asp-items="ViewBag.ProductCategoryId"></select>
            </div>

        </div>
        <div class="form-group col">
            <div class="custom-file" style="width: 200px;">
                <label asp-for="file" class="control-label ">Image</label>
                <input type="file" asp-for="file" class="form-control"
                       id="FlFrontImg" onchange="document.getElementById('FrontImg').src=window.URL.createObjectURL(this.files[0])">
            </div>
            <img id="FrontImg" class="img-fluid" src="" alt="CartImg" width="400" height="400"
                 style="border: 1px; margin-top:20px; margin-left:120px; border-radius:15%;" />
        </div>
        <div class="form-group mt-4 text-center">
            <input type="submit" value="Create" class="btn btn-outline-success btn-lg" />
        </div>
    </form>
</div>

<div>
    <a class="btn btn-outline-info btn-lg text-decoration-none  float-end" asp-action="Index">Back to List</a>
</div>



