@using ShoppingMenegment.Models.Data
@inject ShoppingMenegmentContext db;
<link href="~/cardscss/card.css" rel="stylesheet" />
@foreach (var item in db.Products.ToList())
{

    <div class="card me-3 col-md-4">
        <div class="card-content ">
            <img src="~/ImgProduct/@item.Img" alt="Img" class="card-img img-fluid">
            <h1 class="card-title mt-2">@Html.Raw(item.Model)</h1>
            <div class="card-body ">
                <div class="card-star">
                    <span class="rating-value">4.5</span>
                    <span class="star">&#9733;</span>
                </div>
                <p class="card-price">$@Html.Raw(item.UnitPrice)</p>
            </div>
            <div class="card-footer btn-group fs-2">
                <button class="btn btn-success me-1">Details</button>
                <button data-id="@item.Id" class="btn btn-border basket-btn">Add To Cart</button>
            </div>
        </div>
    </div>
}



