@model ShoppingMenegment.Models.Entity.Identity.AppRole

@{
    ViewData["Title"] = "Create";
}
<style>
    label, h1, hr {
        color: #FF7636;
    }
</style>
<h1 class="text-center display-3">Create Role</h1>
<hr />

<div class="mx-auto d-block">
    <form class="mx-auto" method="post" asp-action="Create">
        <div class="row">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col">
                <label asp-for="Name" for="Name" class="control-label ">Name</label>
                <input asp-for="Name" class="form-control" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group mt-4 text-center">
            <input type="submit" value="Create" class="btn btn-outline-success btn-lg" />
        </div>
    </form>
</div>

<div>
    <a class="btn btn-outline-info btn-lg text-decoration-none  float-end" asp-action="Index">Back to List</a>
</div>

