@model ShoppingMenegment.Areas.Admin.ViewModel.UserManagmentViewModel

@{
    ViewData["Title"] = "User create for Employee";
}
<style>
    label, h1, hr {
        color: #FF7636;
    }
</style>

<h1 class="text-center display-3">Create Employee User</h1>
<hr />

<div class="mx-auto d-block">
    <form class="mx-auto" asp-action="EmployeeUserCreate">
        <div class="row">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col">
                <label asp-for="UserName" for="UserName" class="control-label ">User Name</label>
                <input asp-for="UserName" class="form-control" placeholder="User Name">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="Email"  class="control-label ">Email</label>
                <input asp-for="Email" class="form-control" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="Password" for="Password" class="control-label ">Password</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="Model.Employees"></select>
            </div>
        </div>
        <div class="form-group mt-4 text-center">
            <input type="submit" value="Create" class="btn btn-outline-success btn-lg" />
        </div>
    </form>
</div>

<div>
    <a class="btn btn-outline-info btn-lg text-decoration-none  float-end" asp-action="EmplyoeeIndex">Back to List</a>
</div>

