@using ShoppingMenegment.Areas.Admin.ViewModel;
@model UserRoleViewModel
@{
    ViewData["Title"] = "RoleAssign";
}

<h1 class="text-center">Role Assign</h1>
<hr />

<div class="mx-auto d-block">
    <form class="mx-auto" asp-action="RoleAssign">
        <div class="row">
            <input hidden asp-for="userId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col">
                <label asp-for="empFullName" class="control-label ">Full Name</label>
                <input disabled asp-for="empFullName" class="form-control" placeholder="Full Name">
                <span asp-validation-for="empFullName" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="roleName" class="control-label"></label>
                <select asp-for="roleName" class="form-control" asp-items="ViewBag.Role "></select>
            </div>
        </div>
        <div class="form-group mt-4 text-center">
            <input type="submit" value="RoleAssign" class="btn btn-outline-success btn-lg" />
        </div>
    </form>
</div>

<div>
    <a class="btn btn-info btn-lg   float-end" asp-action="EmplyoeeIndex">Back to List</a>
</div>


