@model ShoppingMenegment.Models.Entity.Branch

@{
    ViewData["Title"] = "Details";
}
<style>
    .card {
        font-family: serif;
        background-color: #B6DCDD;
        color: #2D642C;
        font-weight: bolder;
        box-shadow: 10px 10px #2D642C;
        width: 100%;
    }

    span {
        float: right;
        margin-right: 1rem;
    }

    .list-box {
        margin-left: 1rem;
        font-size: 20px;
        height: 100%;
        margin-top: 3rem;
        border: 2rem;
    }
</style>


<div class="container">
    <div class="row">
        <!--Card 1-->
        <div class="col-md-6 mx-auto d-block">
            <div class="card">
                <div class="card-header border-4 text-center">
                    <h1 class="display-4">Details </h1>
                </div>
                <div class=" list-box">
                    <div class="my-3"> Name: <span>@Html.DisplayFor(model => model.Name)</span></div>
                    <div> Address:<span>@Html.DisplayFor(model => model.Address)</span></div>
                    <div class="my-3"> Contact Number: <span>@Html.DisplayFor(model => model.ContactNumber)</span></div>
                    <div class="mb-3"> Store: <span>@Html.DisplayFor(model => model.StoreId)</span></div>
                </div>
                <div class="card-footer p-0 text-center ">
                    <a class="btn btn-info my-4 float-start btn-lg ms-3" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
                    <a class="btn btn-warning my-4  me-3 float-end btn-lg" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>




