@model IEnumerable<AppUser>

<p>
    <a asp-action="Create" class="text-primary">Create New</a>
</p>
<table class="table table-success table-hover mt-5">

    <tr>
        <th>Id</th>
        <th>UserName</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.UserName</td>


            <td>
                <a asp-action="Accept" asp-route-id="@item.Id" class="btn btn-primary">Accept</a> |
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Delete</a> |
            </td>
        </tr>
    }
</table>